<h1>NYTimes - Health Articles</h1>

<h2>Click here to get the latest Health Articles from the the NYTimes!</h2>

<ul>
	{{#each article}}
	  <p>Title: {{title}}</p>
	  <p>Link: <img url="{{link}}"></p>
	  <hr>
	{{/each}}
</ul>